<div id="middle">
    <div class="headline">
        <div class="headline_outer cmsmasters_headline_disabled"></div>
    </div><div class="middle_inner cmsmasters_middle_headline_disabled">
        <div class="content_wrap fullwidth">


        </div>

        <!-- Start Content -->
        <div class="entry">
            <div class="error">
                <div class="error_bg">
                    <div class="error_inner">
                        <h1 class="error_title">404</h1>
                        <h2 class="error_subtitle">Извините, страница не найдена.</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="content_wrap fullwidth">
            <div class="error_cont">
                <div class="search_bar_wrap">
                    <form method="get" action="#">
                        <p class="search_field">
                            <input name="s" placeholder="Search..." value="" type="search">
                        </p>
                        <p class="search_button">
                            <button type="submit" class="cmsmasters_theme_icon_search"></button>
                        </p>
                    </form>
                </div>	</div> -->

            <!-- Finish Content -->

        </div>
    </div>
</div>