/**
 * @package 	WordPress
 * @subpackage 	Good Food
 * @version		1.0.7
 * 
 * Responsive Design CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1680px) {
  .cmsmasters_responsive_width {
    width: 1680px;
  }
  body #page.cmsmasters_boxed {
    width: 1640px;
  }
  body #page.cmsmasters_boxed #header,
  body #page.cmsmasters_boxed #footer {
    width: 1640px;
  }
  html body .post-password-form,
  html body .header_top_inner,
  html body .header_mid_inner,
  html body .header_bot_inner,
  html body .content_wrap,
  html body .headline_inner,
  html body .bottom_outer,
  html body .footer_inner,
  html body .cmsmasters_row_inner,
  html body .cmsmasters_row_title_wrap {
    width: 1580px;
  }
}
@media only screen and (max-width: 1680px) {
  .cmsmasters_open_project .cmsmasters_project_info .cmsmasters_project_info_item .cmsmasters_project_info_item_inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .widget_nav_menu .menu ul {
    padding: 5px 0 0 8px;
  }
}
@media only screen and (min-width: 1440px) {
  .cmsmasters_responsive_width {
    width: 1440px;
  }
  #page.cmsmasters_boxed {
    width: 1400px;
  }
  #page.cmsmasters_boxed #header,
  #page.cmsmasters_boxed #footer {
    width: 1400px;
  }
  body .post-password-form,
  body .header_top_inner,
  body .header_mid_inner,
  body .header_bot_inner,
  body .content_wrap,
  body .headline_inner,
  body .bottom_outer,
  body .footer_inner,
  body .cmsmasters_row_inner,
  body .cmsmasters_row_title_wrap {
    width: 1340px;
  }
  .single-profile .content_wrap {
    width: 1200px;
    padding: 0 20px;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list > .cmsmasters_tabs_list_item {
    width: 100%;
  }
}
@media only screen and (max-width: 1440px) {
  .mid_nav > li > a {
    padding: 0 10px;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner {
    padding: 0 20px;
  }
  .cmsmasters_row .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding: 0 40px;
  }
  .headline_outer .headline_inner {
    padding: 0 20px;
  }
  .content {
    width: 70%;
  }
  .content,
  .sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .content_wrap.r_sidebar .content,
  .content_wrap.l_sidebar .content {
    padding-right: 30px;
    padding-left: 0;
  }
  .content_wrap.r_sidebar .sidebar:before,
  .content_wrap.l_sidebar .sidebar:before,
  .content_wrap.r_sidebar .content:before,
  .content_wrap.l_sidebar .content:before {
    top: 30px;
  }
  .content_wrap.l_sidebar .content {
    padding-left: 30px;
    padding-right: 0;
  }
  .sidebar {
    width: 30%;
    padding-left: 30px;
    padding-right: 0;
  }
  .sidebar.fl {
    padding-right: 30px;
    padding-left: 0;
  }
  .widget {
    padding-bottom: 30px;
  }
  .cmsmasters_post_default {
    padding-top: 40px;
  }
  .cmsmasters_post_default .cmsmasters_post_img_wrap {
    padding: 0;
    width: 100%;
    float: none;
  }
  #page .cmsmasters_quotes_grid .cmsmasters_quote_inner {
    padding: 0 20px;
  }
  .cmsmasters_quotes_grid .cmsmasters_quote_inner .cmsmasters_quote_info_wrap {
    float: none;
    padding: 0;
    margin: 0 0 20px;
  }
  .widget_custom_posts_tabs_entries .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list {
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  .widget_custom_posts_tabs_entries .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
    width: 100%;
  }
  #page .cmsmasters_open_project .cmsmasters_open_project_left_wrap,
  #page .cmsmasters_open_project .cmsmasters_open_project_right_wrap {
    width: 100%;
    padding: 30px 0;
  }
  #page .cmsmasters_open_project .cmsmasters_open_project_left_wrap:before,
  #page .cmsmasters_open_project .cmsmasters_open_project_right_wrap:before {
    content: none;
  }
  #page .cmsmasters_open_project > div:last-child {
    padding-bottom: 0;
  }
  .cmsmasters_pricing_table .cmsmasters_pricing_item {
    padding: 0 10px 10px;
  }
  .cmsmasters_quotes_slider .cmsmasters_quote_inner {
    display: block;
  }
  .cmsmasters_quotes_slider .cmsmasters_quote_inner > * {
    width: 100%;
    display: block;
  }
  .cmsmasters_quotes_slider .cmsmasters_quote_inner img {
    width: 100%;
  }
  .cmsmasters_quotes_slider .cmsmasters_quote_inner .cmsmasters_quote_inner_content {
    padding: 50px 30px;
  }
  .cmsmasters_quotes_slider .owl-pagination {
    top: 20px;
  }
  .cmsmasters_mailpoet_form form {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .cmsmasters_responsive_width {
    width: 1025px;
  }
  .fixed_header #header {
    position: fixed;
  }
  .header_top_outer,
  .header_top .top_nav_wrap nav {
    display: block !important;
  }
  .fixed_header #header .header_bot {
    -webkit-transition: background-color .3s ease-in-out, height .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out, height .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out, height .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, height .3s ease-in-out;
    transition: background-color .3s ease-in-out, height .3s ease-in-out;
  }
  .fixed_header #header.navi_scrolled {
    -webkit-transition: padding-top .5s ease-in-out;
    -moz-transition: padding-top .5s ease-in-out;
    -ms-transition: padding-top .5s ease-in-out;
    -o-transition: padding-top .5s ease-in-out;
    transition: padding-top .5s ease-in-out;
  }
  .fixed_header #header.navi_scrolled .header_bot {
    height: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .cmsmasters_responsive_width {
    width: 1024px;
  }
  .headline_outer {
    background-attachment: scroll;
  }
  .gallery.gallery-columns-9 .gallery-item,
  .gallery.gallery-columns-6 .gallery-item {
    width: 29.96%;
  }
  .gallery.gallery-columns-9 .gallery-item:nth-child(6n + 1),
  .gallery.gallery-columns-6 .gallery-item:nth-child(6n + 1),
  .gallery.gallery-columns-9 .gallery-item:nth-child(9n + 1),
  .gallery.gallery-columns-6 .gallery-item:nth-child(9n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-9 .gallery-item:nth-child(3n + 1),
  .gallery.gallery-columns-6 .gallery-item:nth-child(3n + 1) {
    clear: both;
  }
  .gallery.gallery-columns-8 .gallery-item {
    width: 21.63%;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(8n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(4n + 1) {
    clear: both;
  }
  .gallery.gallery-columns-7 .gallery-item,
  .gallery.gallery-columns-5 .gallery-item,
  .gallery.gallery-columns-4 .gallery-item {
    width: 46.63%;
  }
  .gallery.gallery-columns-7 .gallery-item:nth-child(4n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(4n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(4n + 1),
  .gallery.gallery-columns-7 .gallery-item:nth-child(5n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(5n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(5n + 1),
  .gallery.gallery-columns-7 .gallery-item:nth-child(7n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(7n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(7n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-7 .gallery-item:nth-child(2n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(2n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(2n + 1) {
    clear: both;
  }
  .cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_fourth:nth-child(2n+1) {
    clear: left;
  }
  #page.cmsmasters_boxed {
    width: 100%;
  }
  #page.cmsmasters_boxed #header,
  #page.cmsmasters_boxed #footer {
    width: 100%;
  }
  #page.fixed_header #header {
    position: relative;
  }
  #page.fixed_header #middle,
  #page.fixed_header.enable_header_top #middle,
  #page.fixed_header.enable_header_bottom #middle,
  #page.fixed_header.enable_header_top.enable_header_bottom #middle {
    padding-top: 0;
  }
  #header {
    position: relative;
    overflow: hidden;
  }
  #header nav {
    height: auto;
  }
  #header nav div,
  #header nav ul,
  #header nav li,
  #header nav a,
  #header nav span {
    background-image: none !important;
    display: block;
    width: auto;
    height: auto;
    float: none;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-align: left;
    border-width: 0;
    border-style: solid;
    clear: both;
    overflow: hidden;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #header nav div:before,
  #header nav ul:before,
  #header nav li:before,
  #header nav a:before,
  #header nav div:after,
  #header nav ul:after,
  #header nav li:after,
  #header nav a:after {
    content: none;
  }
  #header nav .menu-item-mega-description-container {
    padding: 10px 15px;
  }
  #header nav li {
    border-top-width: 1px;
    border-top-style: solid;
  }
  #header nav > div > ul > li:first-child {
    border-top-width: 0;
    border-top-style: solid;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap {
    width: 100%;
  }
  .cmsmasters_column {
    margin-bottom: 20px;
  }
  .cmsmasters_row_columns_behavior .cmsmasters_column {
    margin-bottom: 0;
  }
  .cmsmasters_column.one_first,
  .cmsmasters_column:last-child {
    margin-bottom: 0;
  }
  .one_fifth,
  .one_fourth,
  .three_fourth {
    width: 46.63%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fifth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .three_fourth {
    width: 50%;
  }
  .cmsmasters_14141414 > .cmsmasters_column:nth-child(2n + 1) {
    clear: left;
  }
  .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_141412 .cmsmasters_column.one_half {
    width: 96.63%;
    float: none;
    clear: both;
  }
  .cmsmasters_row_no_margin > .cmsmasters_121414 > .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin > .cmsmasters_141412 > .cmsmasters_column.one_half {
    width: 100%;
  }
  .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 29.96%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_half {
    width: 33.33%;
  }
  .sidebar_layout_14141414 aside {
    width: 46.63%;
  }
  .sidebar_layout_14141414 aside:nth-child(2n+1) {
    clear: left;
  }
  .sidebar_layout_141412 > aside:first-child,
  .sidebar_layout_141412 > aside:first-child + aside,
  .sidebar_layout_141412 > div.cl + aside,
  .sidebar_layout_141412 > div.cl + aside + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside {
    width: 46.63%;
  }
  .sidebar_layout_141412 > aside:first-child + aside + aside,
  .sidebar_layout_141412 > div.cl + aside + aside + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 96.63%;
    float: none;
    clear: both;
  }
  .sidebar_layout_141214 > aside:first-child,
  .sidebar_layout_141214 > aside:first-child + aside + aside,
  .sidebar_layout_141214 > div.cl + aside,
  .sidebar_layout_141214 > div.cl + aside + aside + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 29.96%;
  }
  .sidebar_layout_141214 > aside:first-child + aside,
  .sidebar_layout_141214 > div.cl + aside + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside {
    width: 29.96%;
  }
  .sidebar_layout_121414 > aside:first-child,
  .sidebar_layout_121414 > div.cl + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside {
    width: 96.63%;
    float: none;
    clear: both;
  }
  .sidebar_layout_121414 > aside:first-child + aside,
  .sidebar_layout_121414 > aside:first-child + aside + aside,
  .sidebar_layout_121414 > div.cl + aside + aside,
  .sidebar_layout_121414 > div.cl + aside + aside + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 46.63%;
  }
  .sidebar_layout_3414 > aside:first-child,
  .sidebar_layout_3414 > div.cl + aside,
  .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside {
    width: 46.63%;
  }
  .sidebar_layout_3414 > aside:first-child + aside,
  .sidebar_layout_3414 > div.cl + aside + aside,
  .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside + aside {
    width: 46.63%;
  }
  .sidebar_layout_1434 > aside:first-child,
  .sidebar_layout_1434 > div.cl + aside,
  .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside {
    width: 46.63%;
  }
  .sidebar_layout_1434 > aside:first-child + aside,
  .sidebar_layout_1434 > div.cl + aside + aside,
  .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside + aside {
    width: 46.63%;
  }
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fifth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fourth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth {
    width: 50%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item {
    width: 50%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item:nth-child(2n+1) {
    clear: both;
  }
  .header_top {
    overflow: hidden;
    clear: both;
  }
  .header_top .header_top_but {
    display: block;
  }
  .header_top .header_top_outer {
    height: auto;
    display: none;
    overflow: hidden;
  }
  .header_top .header_top_inner {
    height: auto;
    padding: 20px 0 25px;
    overflow: hidden;
  }
  .header_top .social_wrap {
    float: none;
  }
  .header_top .social_wrap .social_wrap_inner {
    text-align: center;
  }
  .header_top .top_nav_wrap {
    margin-top: -20px;
    float: none;
  }
  .header_top .top_nav_wrap nav {
    display: none;
  }
  .header_top .responsive_top_nav {
    display: block;
  }
  .header_top .responsive_top_nav.active {
    font-size: 10px;
    line-height: 10px;
  }
  .header_top .responsive_top_nav.active:before {
    content: '\e834';
    font-family: 'fontello-custom';
  }
  .header_top .header_top_meta {
    padding: 25px 0 0;
  }
  .header_top .header_top_meta:after {
    content: none;
  }
  .header_top .meta_wrap {
    display: block;
    text-align: center;
  }
  #header .top_line_nav {
    padding: 20px 0 0;
  }
  #header .top_line_nav .nav_item_wrap {
    padding: 5px 0;
    text-align: center;
  }
  #header .top_line_nav li li .nav_item_wrap {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  #header .top_line_nav li li li .nav_item_wrap {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #header .header_mid .header_mid_inner_cont {
    text-align: center;
  }
  #header .header_mid .header_mid_inner_cont:after {
    content: none;
  }
  #header .header_mid .resp_mid_nav_wrap {
    display: block;
  }
  #header .header_mid .mid_nav_wrap {
    display: block;
    height: auto;
    float: none;
    position: relative;
    overflow: hidden;
  }
  #header .header_mid .mid_nav_wrap nav {
    display: none;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0 -20px;
  }
  #header .header_mid .logo_wrap {
    display: inline-block;
    vertical-align: middle;
  }
  #header .header_mid .social_wrap {
    display: none;
  }
  #header .header_mid .mid_search_but_wrap {
    margin: 0 20px 0 0;
    float: left;
  }
  #header .header_mid .resp_mid_nav_wrap {
    margin: 0 0 0 20px;
    float: right;
  }
  #header .header_bot {
    display: none;
  }
  #header .navigation {
    padding: 20px 0 30px;
  }
  #header .navigation a {
    padding: 5px 40px 5px 20px;
  }
  #header .navigation li li > a {
    padding-left: 50px;
    padding-right: 0;
  }
  #header .navigation li li li > a {
    padding-left: 70px;
    padding-right: 0;
  }
  #header .navigation .nav_item_wrap {
    display: inline-block;
    vertical-align: middle;
  }
  #header .navigation .nav_title {
    display: inline-block;
    vertical-align: bottom;
  }
  #header .navigation .nav_tag {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    margin: 0 0 0 10px;
  }
  #header .navigation .nav_subtitle {
    display: block;
  }
  #header .navigation .cmsmasters_resp_nav_toggle {
    line-height: 1em;
    font-size: 20px;
    width: 1em;
    height: 1em;
    margin: auto !important;
    position: absolute;
    left: auto;
    right: 20px;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
  #header .navigation .menu-item-mega-container {
    width: 100% !important;
    left: auto !important;
    right: auto !important;
  }
  .headline_outer .headline_inner {
    padding: 20px;
  }
  .headline_outer .headline_inner.align_left .headline_aligner,
  .headline_outer .headline_inner.align_right .headline_aligner,
  .headline_outer .headline_inner.align_left .cmsmasters_breadcrumbs_aligner,
  .headline_outer .headline_inner.align_right .cmsmasters_breadcrumbs_aligner {
    display: none;
  }
  .headline_outer .headline_inner.align_left .cmsmasters_breadcrumbs,
  .headline_outer .headline_inner.align_right .cmsmasters_breadcrumbs {
    float: none;
  }
  .headline_outer .headline_inner.align_right .cmsmasters_breadcrumbs {
    text-align: right;
  }
  .cmsmasters_quotes_grid.quote_two .cmsmasters_quote .cmsmasters_quote_content {
    padding-left: 0;
  }
  #page .cmsmasters_open_post .cmsmasters_open_post_left_wrap,
  #page .cmsmasters_open_post .cmsmasters_open_post_right_wrap {
    width: 100%;
    padding: 30px 0;
  }
  #page .cmsmasters_open_post .cmsmasters_open_post_left_wrap:before,
  #page .cmsmasters_open_post .cmsmasters_open_post_right_wrap:before {
    content: none;
  }
  #page .cmsmasters_open_post > div:last-child {
    padding-bottom: 0;
  }
  .bottom_bg {
    padding-top: 30px;
  }
  .middle_content .opened-article {
    padding-bottom: 30px;
  }
  .single-profile .middle_content {
    padding-top: 0;
  }
  .cmsmasters_post_timeline .cmsmasters_post_cont_info > div {
    display: block;
    width: 100%;
    padding: 0;
  }
  #page .cmsmasters_post_timeline .cmsmasters_post_cont {
    padding: 0;
  }
  .cmsmasters_slider_post .cmsmasters_slider_post_img_wrap {
    width: 100%;
    position: relative;
    float: none;
  }
  .cmsmasters_slider_post .cmsmasters_slider_post_inner {
    padding: 20px 0 0;
  }
  .cmsmasters_print_button_wrap {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .cmsmasters_responsive_width {
    width: 950px;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list {
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
    width: 100%;
  }
  .cmsmasters_tabs.tabs_mode_tour {
    display: block;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list,
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_wrap {
    width: 100%;
    display: block;
  }
  #page .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tab_inner {
    padding: 20px 0 0;
    text-align: center;
  }
  .content_wrap.l_sidebar .cmsmasters_row,
  .content_wrap.r_sidebar .cmsmasters_row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .content_wrap.l_sidebar .sidebar,
  .content_wrap.r_sidebar .sidebar,
  .content_wrap.l_sidebar .content,
  .content_wrap.r_sidebar .content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .content_wrap.l_sidebar .sidebar:before,
  .content_wrap.r_sidebar .sidebar:before,
  .content_wrap.l_sidebar .content:before,
  .content_wrap.r_sidebar .content:before {
    content: none;
  }
  .content,
  .sidebar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .cmsmasters_open_project .project_content.with_sidebar {
    width: 100%;
    float: none;
  }
  .cmsmasters_open_project .project_sidebar {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .cmsmasters_open_profile .profile_content.with_sidebar {
    width: 100%;
    float: none;
  }
  .cmsmasters_open_profile .profile_sidebar {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .cmsmasters_quotes_grid.quote_three .cmsmasters_quote_inner,
  .cmsmasters_quotes_grid.quote_four .cmsmasters_quote_inner {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 768px) {
  .cmsmasters_responsive_width {
    width: 767px;
  }
  .cmsmasters_post_default .cmsmasters_post_info > span {
    margin: 0 0 10px;
    display: block;
  }
  .cmsmasters_post_default .cmsmasters_post_info_meta {
    float: none;
    padding: 0 0 10px;
  }
  .cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
    margin: 0 0 20px;
    width: 100%;
    float: none;
  }
  .error .error_inner {
    margin: 0;
    padding: 50px 20px 30px;
  }
  .error_cont {
    padding: 0 0 50px;
  }
  .error_cont .search_bar_wrap {
    width: 100%;
    display: block;
    margin: 0 0 20px;
  }
  .cmsmasters_clients_slider {
    padding: 20px 50px;
  }
  .cmsmasters_clients_item img {
    padding: 0 10px;
  }
  .cmsmasters_profile_vertical .profile_outer {
    padding: 30px 0;
  }
  .cmsmasters_profile_vertical .profile_outer .cmsmasters_img_rollover_wrap + .profile_inner {
    width: 100%;
    padding: 20px 0 0;
  }
  .cmsmasters_profile_vertical .cmsmasters_img_rollover_wrap,
  .cmsmasters_profile_horizontal .cmsmasters_img_rollover_wrap,
  .cmsmasters_posts_slider .cmsmasters_slider_post .cmsmasters_slider_post_img_wrap,
  .cmsmasters_post_default .cmsmasters_post_img_wrap,
  .cmsmasters_open_post .cmsmasters_img_wrap,
  .cmsmasters_open_project .cmsmasters_img_wrap {
    width: 320px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
    float: none;
    padding: 0;
    margin: 0 0 20px;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_filter_list li a {
    padding: 0 10px;
  }
  #page .cmsmasters_post_timeline .cmsmasters_post_info {
    right: auto;
    left: auto;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
  }
  #page .cmsmasters_post_timeline .cmsmasters_post_info .cmsmasters_post_date {
    text-align: left;
  }
  .gallery.gallery-columns-8 .gallery-item {
    width: 46.63%;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(4n + 1) {
    clear: none;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(2n + 1) {
    clear: both;
  }
  .one_first,
  .one_half,
  .one_third,
  .two_third,
  .one_fourth,
  .one_fifth,
  .three_fourth,
  .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_141412 .cmsmasters_column.one_half,
  .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 96.63%;
    float: none;
    clear: both;
  }
  .cmsmasters_row_columns_behavior .one_first,
  .cmsmasters_row_columns_behavior .one_half,
  .cmsmasters_row_columns_behavior .one_third,
  .cmsmasters_row_columns_behavior .two_third,
  .cmsmasters_row_columns_behavior .one_fourth,
  .cmsmasters_row_columns_behavior .one_fifth,
  .cmsmasters_row_columns_behavior .three_fourth,
  .cmsmasters_row_columns_behavior .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_row_columns_behavior .cmsmasters_141412 .cmsmasters_column.one_half,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_half {
    display: block;
  }
  .cmsmasters_row_columns_behavior .one_first .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_half .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_third .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .two_third .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_fourth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .one_fifth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .three_fourth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_121414 .cmsmasters_column.one_half .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_141412 .cmsmasters_column.one_half .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_fourth .cmsmasters_column_inner,
  .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_half .cmsmasters_column_inner {
    display: block;
  }
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_first,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_half,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_third,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .two_third,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .one_fifth,
  .cmsmasters_row_no_margin > .cmsmasters_row_margin > .three_fourth {
    width: 100%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_121414 > .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin > .cmsmasters_141412 > .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_fourth,
  .cmsmasters_row_no_margin > .cmsmasters_141214 > .cmsmasters_column.one_half {
    width: 100%;
  }
  .cmsmasters_row_margin.cmsmasters_row_columns_behavior {
    display: block;
  }
  .cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_featured_block .featured_block_text:empty {
    padding-bottom: 100%;
  }
  .cmsmasters_row_no_margin > .cmsmasters_row_margin {
    display: block;
  }
  .sidebar_layout_14141414 aside,
  .sidebar_layout_141412 aside,
  .sidebar_layout_141214 aside,
  .sidebar_layout_121414 aside,
  .sidebar_layout_131313 aside,
  .sidebar_layout_3414 aside,
  .sidebar_layout_1434 aside,
  .sidebar_layout_2313 aside,
  .sidebar_layout_1323 aside,
  .sidebar_layout_1212 aside {
    width: 96.63% !important;
  }
  .cmsmasters_featured_block .featured_block_inner {
    width: 100% !important;
  }
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_third,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_third {
    width: 50%;
  }
  .cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item {
    width: 100%;
    float: none;
    clear: both;
  }
  .cmsmasters_clients_grid.clients_five .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_four .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_three .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_two .cmsmasters_clients_item {
    width: 100%;
    float: none;
    clear: both;
  }
  .header_top .social_wrap li {
    margin: 0 4px 0 0;
  }
  .header_top .social_wrap li:last-child {
    margin: 0;
  }
  .header_top .social_wrap li a {
    font-size: 14px;
    line-height: 14px;
  }
  .header_top .meta_wrap {
    text-align: center;
  }
  .header_top .meta_wrap > * {
    display: block;
    margin: 0 0 14px;
  }
  .header_top .meta_wrap > *:last-child {
    margin: 0;
  }
  #header .header_mid .logo_wrap {
    display: none;
  }
  #header .header_mid .resp_mid_nav_wrap .resp_mid_nav:before {
    left: 0;
    right: 0;
  }
  #header .header_bot {
    display: block;
  }
  #header .header_bot .header_bot_inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #header .header_bot .logo_wrap {
    width: 210px;
    max-width: 100%;
    text-align: center;
  }
  #header .header_bot .logo_wrap:after {
    content: none;
  }
  #header .header_bot .logo_wrap img {
    position: relative;
    width: 100%;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field {
    height: 70px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field button {
    font-size: 26px;
    line-height: 26px;
    width: 85px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
    padding-right: 80px;
    font-size: 30px;
    line-height: 40px;
  }
  .cmsmasters_footer_default .footer_nav {
    display: block;
    text-align: center;
  }
  .cmsmasters_footer_default .footer_nav > li {
    display: inline-block;
    float: none;
  }
  .cmsmasters_footer_small .footer_nav_wrap {
    padding: 0 0 15px;
    float: none;
  }
  .cmsmasters_footer_small .footer_nav_wrap nav > div {
    text-align: center;
  }
  .cmsmasters_footer_small .footer_nav_wrap nav > div:after {
    content: none;
  }
  .cmsmasters_footer_small .footer_nav {
    display: block;
    margin: 0 -20px;
    text-align: center;
  }
  .cmsmasters_footer_small .footer_nav > li {
    display: inline-block;
    float: none;
    padding: 0 20px;
    margin: 0;
  }
  .cmsmasters_footer_small .social_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .social_wrap .social_wrap_inner {
    text-align: center;
  }
  .cmsmasters_footer_small .social_wrap .social_wrap_inner:after {
    content: none;
  }
  .cmsmasters_footer_small .footer_custom_html_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .footer_custom_html_wrap .footer_custom_html {
    text-align: center;
  }
  .cmsmasters_footer_small .footer_copyright {
    padding: 0;
    text-align: center;
  }
  .blog.timeline {
    height: auto !important;
  }
  .blog.timeline:before {
    content: none;
  }
  .blog.timeline .post {
    width: 100%;
    padding-top: 40px;
    position: relative !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
  .blog.timeline .post:first-child {
    padding-top: 0;
  }
  .blog.timeline .post:before {
    content: none;
  }
  .blog.timeline .post.cmsmasters_timeline_left .cmsmasters_timeline_margin,
  .blog.timeline .post.cmsmasters_timeline_right .cmsmasters_timeline_margin {
    margin-left: 0;
    margin-right: 0;
  }
  .cmsmasters_quotes_grid.quote_two .cmsmasters_quote,
  .cmsmasters_quotes_grid.quote_three .cmsmasters_quote,
  .cmsmasters_quotes_grid.quote_four .cmsmasters_quote {
    width: auto;
  }
  .cmsmasters_quotes_grid .cmsmasters_quotes_vert {
    display: none;
  }
  .cmsmasters_quotes_grid .cmsmasters_quotes_list {
    padding: 0;
    border-width: 0;
    border-style: solid;
    display: block;
  }
  #page .cmsmasters_quotes_grid .cmsmasters_quotes_list:after,
  #page .cmsmasters_quotes_grid .cmsmasters_quotes_list:before {
    content: none;
  }
  .cmsmasters_quotes_grid .cmsmasters_quotes_list:first-of-type .cmsmasters_quote:first-child {
    border-top-width: 0;
    border-top-style: solid;
  }
  .cmsmasters_quotes_grid .cmsmasters_quote_content {
    padding-left: 0;
  }
  .cmsmasters_quotes_grid .cmsmasters_quote {
    padding: 30px 0;
    border-top-width: 1px;
    border-top-style: solid;
    width: auto;
    float: none;
  }
  .cmsmasters_quotes_grid .cmsmasters_quote_inner {
    padding: 0;
  }
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li {
    display: block;
    width: 100%;
    float: none;
  }
  .post_nav > span {
    width: 100%;
  }
  .post_nav > span.cmsmasters_next_post,
  .post_nav > span.cmsmasters_prev_post {
    float: none;
    display: block;
    padding: 10px 0;
  }
  .cmsmasters_open_project .cmsmasters_project_info {
    display: block;
  }
  .cmsmasters_open_project .cmsmasters_project_info .cmsmasters_project_info_item .cmsmasters_project_info_item_inner {
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
  }
  .cmsmasters_open_project .cmsmasters_project_info .cmsmasters_project_info_item:last-child .cmsmasters_project_info_item_inner {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .portfolio.large_gap {
    margin: 0 -15px;
  }
  .portfolio.large_gap .project {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  #page .cmsmasters_post_subtitle,
  #page .cmsmasters_project_subtitle {
    margin: 5px 0 0;
    padding: 0;
  }
  .cmsmasters_slider_post {
    padding-bottom: 30px;
  }
  .cmsmasters_posts_slider .cmsmasters_owl_slider {
    padding: 30px 0 0;
  }
  .cmsmasters_posts_slider .owl-pagination {
    top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .cmsmasters_responsive_width {
    width: 600px;
  }
  html.cmsmasters_html {
    margin-top: 0 !important;
  }
  html.cmsmasters_html body.admin-bar {
    padding-top: 46px;
  }
  html.cmsmasters_html .cmsmasters_header_search_form {
    top: 0;
    bottom: 0;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_close {
    top: 25px;
    right: 25px;
  }
  .admin-bar .cmsmasters_header_search_form .cmsmasters_header_search_form_close {
    top: 71px;
  }
}
@media only screen and (max-width: 540px) {
  .cmsmasters_responsive_width {
    width: 540px;
  }
  #page .cmsmasters_quotes_grid .cmsmasters_quote_inner {
    padding: 0;
  }
  #page .cmsmasters_quotes_grid .cmsmasters_quote_inner .cmsmasters_quote_image {
    float: none;
    padding: 0 0 20px;
    text-align: center;
  }
  #page .cmsmasters_quotes_grid .cmsmasters_quote_inner .cmsmasters_quote_info_wrap,
  #page .cmsmasters_quotes_grid .cmsmasters_quote_inner .cmsmasters_quote_subtitle_wrap,
  #page .cmsmasters_quotes_grid .cmsmasters_quote_inner .cmsmasters_quote_content {
    text-align: center;
  }
  .cmsmasters_twitter_wrap .twr_icon {
    top: 5px;
    left: 0;
    right: 0;
    bottom: auto;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter_item {
    padding: 52px 20px 25px;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter_item .published {
    width: 100%;
    height: auto;
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter_item .cmsmasters_twitter_item_content {
    text-align: center;
  }
  .cmsmasters_twitter_wrap .owl-buttons {
    positioN: relative;
  }
  .cmsmasters_toggles .cmsmasters_toggle_title a {
    padding: 10px 12px;
  }
  .cmsmasters_comment_item {
    text-align: left;
  }
  .cmsmasters_comment_item .comment-reply-link,
  .cmsmasters_comment_item .cmsmasters_comment_item_cont_reply_date {
    float: none;
  }
  .share_posts .share_posts_inner > a {
    margin: 0 10px 0 0;
  }
  .share_posts .share_posts_inner > a:last-child {
    margin: 0;
  }
  #page .gallery .gallery-item {
    width: 96.63%;
    float: none;
    clear: both;
  }
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fifth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_fourth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_third,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_third,
  .cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap.one_half,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_half {
    width: 100%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_two .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_one .cmsmasters_pricing_item {
    width: 100%;
    float: none;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field {
    height: 50px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field button {
    font-size: 22px;
    line-height: 22px;
    width: 80px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
    padding-right: 75px;
    font-size: 20px;
    line-height: 30px;
  }
  #page .headline_outer .headline_inner .headline_aligner {
    display: none;
  }
  #page .headline_outer .headline_inner .headline_text {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  #page .headline_outer .headline_inner.align_center .headline_text {
    margin-bottom: 20px;
  }
  #page .cmsmasters_breadcrumbs {
    float: none;
    text-align: center;
  }
  #page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_aligner {
    display: none;
  }
  .cmsmasters_open_project .cmsmasters_open_project_top_meta + .cmsmasters_project_subtitle,
  .cmsmasters_open_post .cmsmasters_open_post_top_meta + .cmsmasters_post_subtitle {
    margin: 0;
    padding: 0 20px;
  }
  .cmsmasters_open_project .project_features {
    padding: 20px;
  }
  .cmsmasters_post_default .cmsmasters_post_info .cmsmasters_post_author,
  .cmsmasters_post_default .cmsmasters_post_info .cmsmasters_post_category {
    display: block;
    width: 100%;
    padding: 0;
  }
  .cmsmasters_hover_slider .cmsmasters_hover_slider_thumbs img {
    width: 86px;
  }
}
@media only screen and (max-width: 320px) {
  .cmsmasters_responsive_width {
    width: 320px;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap {
    width: 320px;
  }
}
/*-------------------------------------------------------------------------*/
/* Print Styles
/*-------------------------------------------------------------------------*/
@media print {
  .cmsmasters_boxed,
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner {
    width: 100% !important;
  }
  
  body,
  html,
  div,
  section {
    overflow:visible !important;
  }
  
  /* Single Project */
  .single-project #page #header,
  .single-project #page #bottom,
  .single-project #page #footer,
  .single-project #page #slide_top,
  .single-project #page .comment-respond,
  .single-project #page .about_author,
  .single-project #page .cmsmasters_single_slider,
  .single-project #page .share_posts,
  .single-project #page .post_nav,
  .single-project #page .cmsmasters_print_button_wrap {
    visibility: hidden;
    display: none;
  }
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_top_wrap .cmsmasters_open_project_top_meta > span {
    display: none;
  }
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_top_wrap .cmsmasters_open_project_top_meta > span.cmsmasters_project_date {
    display: block;
  }
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_top_wrap .cmsmasters_project_subtitle {
    padding: 0;
    text-align: left;
  }
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_top_wrap .cmsmasters_project_subtitle:before {
    content: nonel;
  }
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_top_wrap .cmsmasters_project_subtitle .entry-subtitle {
    padding: 0;
  }
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_right_wrap,
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_left_wrap {
    width: 100%;
    padding: 30px 0;
  }
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_right_wrap:before,
  .single-project #page .cmsmasters_open_project .cmsmasters_open_project_left_wrap:before {
    content: none;
  }
  .single-project #page .cmsmasters_open_project .owl-item:not(:first-child) {
    visibility: hidden;
    display: none;
  }
  .single-project #page .cmsmasters_open_project .owl-buttons {
    display: none;
  }
  .single-project #page .cmsmasters_open_project .project_features {
    padding: 0;
    margin: 40px 0 0;
  }
  .single-project #page .cmsmasters_open_project .preloader.highImg {
    max-height: 300px;
  }
  #page .cmsmasters_open_project .cmsmasters_project_ingredients input[type="checkbox"] + label:after {
    content: '';
    left: 7px;
    right: auto;
    top: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    border-width: 4px;
    border-style: solid;
  }
  #page.cmsmasters_heading_after_header.enable_header_bottom #middle,
  #page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer {
    padding-top: 20px;
  }
}
